.header
{
    background-color: #645a79;
}
.header h3
{
    font-family: 'Indie Flower', cursive;
    color: #fff;
}
.all-words
{
    text-align: justify;
}
.display-form
{
   font-family: font-family: 'Slabo', serif;
   font-size: 16px;
   margin: 20px;
   border: 1px solid #000;
}
.nav-head
{
    font-family: 'Merienda', cursive;
}
.navbar-default
{
   border: none;
   background-color: #fff;
   background-image: none;
   background-repeat: no-repeat;
   border-radius: 0;
}
.inputfile
{
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}
.inputfile + label {
    font-size: 1.00em;
    font-weight: 700;
    color: white;
    background-color: #05464f;
    display: inline-block;
    padding: 5px;
    font-family: font-family: 'Slabo', serif;
    transition: ease 0.4s;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #12574f;
}
.form-container
{
    background-color: #262626;
    padding: 20px;
}
.placeholder-container
{
    padding: 2rm;
}
.font-container
{
    width: 20em
}
.font-container .font-label
{
    color: #fff;
}
.pdf-btn
{
    background-color: #cc1111;
    color: #fff;
    border: none;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: ease 0.4s;
}
.doc-btn
{
    background-color: #1d2567;
    color: #fff;
    border: none;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: ease 0.4s;
}
.pdf-btn:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #d12828;
}
.doc-btn:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #363d78;
}
